<div class="gateway-wrapper" id="gateway-selection">
  <div class="gateway-selection">
    <div class="container-fluid">
      <div class="row mx-0">
        <div class="col-12">
          <div class="heading mb-4">
            <h4 class="text-center">Select the amnimo gateway type below</h4>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <div class="gateway-tab" (click)="cloudNVR()">
            Cloud NVR gateway
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
