<ul class="side-nav-menu">
  <li class="nav-item">
    <a routerLink="/device-registration" routerLinkActive="active-link">
      <span class="icon-holder">
        <img src="assets/images/daashboard.png" alt="streams" class="img-fluid">
      </span>
      <span class="title">Register </span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/video-stream" routerLinkActive="active-link">
      <span class="icon-holder">
        <img src="assets/images/daashboard.png" alt="streams" class="img-fluid">
      </span>
      <span class="title">Video Stream </span>
    </a>
  </li>
</ul>
