.btn {
  &.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    &:focus, &.focus {
      color: var(--solid-white);
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      box-shadow: 0 0 0 0.2rem var(--primary-shade);
    }
    &:not(:disabled):not(.disabled):active {
      color: var(--solid-white);
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      box-shadow: 0 0 0 0.2rem var(--primary-shade);
    }
  }
}
