.add-child-device,
.register-new-device {
  .mat-dialog-container {
    background: var(--solid-white);

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px var(--primary-color);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px var(--primary-color);
    }
  }

  .form-group.button-wrapper {
    position: sticky;
    bottom: -24px;
    background-color: var(--solid-white);
    margin: 0;
    height: 54px !important;

    .mat-dialog-actions {
      margin-bottom: 0;
    }
  }
}
#registerNewDeviceRef, #addNewDeviceTemplate {
  .modal-dialog {
    max-width: 60vw;
  }
}
